/********** CSS for SACS **********/
html, body {
    font-family: 'Montserrat', sans-serif;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #444444;
}
div {
    text-align: center;
}
h1 {
    margin-top: 25px;
    margin-bottom: 10px;
}
button {
    padding: 5px 17px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #52b8cc;
    color: white;
}
button:hover {
    opacity: 0.6;
}
.link:hover {
    border-bottom: solid #444444 1px;
}

/** header **/
.header {
    display: flex;
    background-color: #1e3333;
}
.header_left {
    width: 50%;
    margin: 20px;
}
.header_right {
    width: 50%;
    margin: 20px;
}
.header_title {
    color: white;
    text-decoration: none;
    text-shadow: 3px 2px gray;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
}
#username_display {
    margin-top: -5px;
    padding-bottom: 10px;
}

/** body **/
.body {
    display: flex;
    margin: 30px 350px;
}

/** sidebar **/
.menu_bar_container {

}
.menu_bar {
    background-color: white;
    width: 210px;
    padding: 15px;
    display: flex;
    font-family: sans-serif;
    font-size: 20px;
}
/* menu_barについては多いので一番下に記載 */

/** content **/
.content {
    background-color: white;
    width: 100%;
    margin-left: 30px;
}

/** login screen **/
#login_screen {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    padding-bottom: 25px;
    background-color: white;
}
#login_table {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0d4ee;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
}
#login_form input {
    height: 30px;
    width: 200px;
    font-size: 25px;
    border-radius: 4px;
}

/** admin **/
#admin_screen {
    text-align: center;
    padding-bottom: 30px;
    background-color: white;
}
#admin_screen input {
    background-color: #f0f0f0;
    height: 20px;
    width: 200px;
    font-size: 20px;
    border-radius: 4px;
}
#admin_screen textarea {
    background-color: #f0f0f0;
    width: 200px;
    font-size: 20px;
    border-radius: 4px;
    border: solid 1px #aaaaaa;
    box-shadow: 1px 1px 1px 0 #888888 inset
}
.admin_item_table {
    width: 100%;
    table-layout: fixed;
    padding-right: 60px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
}
.admin_item_table td {
    width: 10px;
    padding: 15px 0;
}
.admin_item_table input[type="radio"] {
    display: none;
}
.admin_item_table input[type="radio"] + label {
    padding-left: 20px;
    position: relative;
    margin-right: 27px;
}
.admin_item_table input[type="radio"] + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #999;
    border-radius: 50%;
}
.admin_item_table input[type="radio"]:checked + label {
    color: #009a9a;
}
.admin_item_table input[type="radio"]:checked + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #009a9a;
    border-radius: 50%;
}

/** menubar **/
ul {
    margin: auto;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
}
li a {
    display: block;
    padding: 8px 16px;
    color: #000000;
    border-bottom: solid 1px #bbbbbb;
}
.submenu {
    display: none;
}
.submenu :checked{
    display: block;
}
.accordion-menu {
    padding: 0;
    width: 100%;
    /*max-width: 350px;*/
    /*background: #fff;*/
    /*border-radius: 4px;*/
}
.dropdownlink {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #cccccc;
    color: #212121;
    position: relative;
    transition: all 0.4s ease-out;
}
.dropdownlink:hover {
    color: #ffffff;
    background-color: #1e3333;
}
.submenuItems {
    padding: 0;
    display: none;
    background-color: #f0f0f0;
}
.submenuItems a {
    display: block;
    padding: 12px 12px 12px 12px;
    transition: all 0.4s ease-out;
}


