/********** CSS for SACS **********/
html, body {
    font-family: 'Montserrat', sans-serif;
    background: #f0f0f0;
    padding: 0;
    margin: 0;
    width: 100%;
    color: #444444;
}
div {
    text-align: center;
}
h1 {
    padding-top: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}
button {
    padding: 5px 17px;
    font-size: 25px;
    border-radius: 4px;
    background-color: #52b8cc;
    color: white;
}
button:hover {
    opacity: 0.6;
}
input {
    background-color: #f0f0f0;
    height: 20px;
    width: 200px;
    font-size: 20px;
    border-radius: 4px;
}
select {
    height: 25px;
    font-size: 20px;
    border-radius: 4px;
}
.link:hover {
    border-bottom: solid #444444 1px;
}

/** header **/
.header {
    display: flex;
    background-color: #1e3333;
}
.header_left {
    width: 50%;
    margin: 20px;
}
.header_right {
    width: 50%;
    margin: 20px;
}
.header_title {
    color: white;
    text-decoration: none;
    text-shadow: 3px 2px gray;
    font-family: Impact, Charcoal, sans-serif;
    font-size: 60px;
}
#username_display {
    color: white;
    margin-top: -5px;
    padding-bottom: 10px;
}

/** body **/
.body {
    min-width: 790px;
    display: flex;
    justify-content: center;
    margin: 30px auto;
}

/* menu_barについては多いので一番下に記載 */

/** content **/
.content_container {
    background-color: #f0f0f0;
}
.content {
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
}
.content >div {
    padding-bottom: 20px;
}
#student_screen,
#teacher_screen {
    margin-left: 0;
    width: 520px;
}

/** login screen **/
#login_screen {
    width: 700px;
}
#login_screen .content {
    padding-bottom: 30px;
}
#login_table {
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #c0d4ee;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
}
#login_form input {
    height: 30px;
    width: 200px;
    font-size: 25px;
    border-radius: 4px;
}

/** student **/
#student_screen{
    height: 100%;
}

/** teacher **/


@media screen and (min-width: 1100px) {
    /* 表示領域が1100px以上の場合に適用するスタイル */
    #teacher_screen {
        width: 840px;
    }
    #teacher_add_test_form,
    #teacher_add_result_form {
        display: flex;
    }
    #teacher_screen .form_table {
        padding-right: 60px;
    }
    #teacher_screen .form_table input{
        width: 150px;
    }
    #teacher_screen .form_table input[type="radio"] + label {
        padding-left: 20px;
        position: relative;
        margin-right: 6px;
    }
    .teacher_add_test_form_left,
    .teacher_add_result_form_left {
        width: 50%;
        position: relative;
        left: 3%;
    }
    .teacher_add_test_form_right,
    .teacher_add_result_form_right {
        width: 50%;
        position: relative;
        left: -3%;
    }
}


/** admin **/
#admin_screen {
    height: 100%;
    text-align: center;
}
#admin_screen .content{
    display: flex;
}
#admin_screen .content >div{
    width: 520px;
}
#admin_account_list_display {
    margin-top: 10px;
}


/** display **/
#admin_account_list_display table{
    margin: auto;
    font-size: 22px;
}

/** form **/
.form_table {
    width: 100%;
    table-layout: fixed;
    padding-right: 80px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: bold;
}
.form_table td {
    width: 10px;
    padding: 15px 0;
}
.form_table input[type="radio"] {
    display: none;
}
.form_table input[type="radio"] + label {
    padding-left: 20px;
    position: relative;
    margin-right: 27px;
}
.form_table input[type="radio"] + label::after{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 15px;
    height: 15px;
    border: 1px solid #777777;
    border-radius: 50%;
}
.form_table input[type="radio"]:checked + label {
    color: #009a9a;
}
.form_table input[type="radio"]:checked + label::before{
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    left: 3px;
    width: 11px;
    height: 11px;
    background: #009a9a;
    border-radius: 50%;
}
.form_table textarea {
    background-color: #f0f0f0;
    width: 200px;
    font-size: 20px;
    border-radius: 4px;
    border: solid 1px #aaaaaa;
    box-shadow: 1px 1px 1px 0 #888888 inset
}


/** menubar **/
.menu_bar_container {
}
.account-list-button-container {
    background-color: white;
    margin-bottom: 10px;
}
.account-list-button {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: block;
    color: #212121;
    position: relative;
    transition: all 0.3s ease-out;
    font-size: 20px;
}
.account-list-button-container :hover {
    color: #ffffff;
    background-color: #1e3333;
}
#account-list-open:checked + .account-list-button{
    color: #ffffff;
    background-color: #1e3333;
}
.menu_bar {
    margin-right: 30px;
    width: 210px;
    background-color: #f0f0f0;
}
#admin_menu_bar,#student_menu_bar{
}
ul {
    margin: auto;
    padding-left: 0;
    padding-top: 10px;
    list-style: none;
}
li a {
    display: block;
    padding: 8px 16px;
    color: #000000;
    border-bottom: solid 1px #bbbbbb;
}
.submenu {
    display: none;
}
.submenu :checked{
    display: block;
}
.accordion-menu {
    background-color: white;
    padding: 15px;
    font-family: sans-serif;
    font-size: 20px;
}
.dropdownlink {
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    cursor: pointer;
    display: block;
    border-bottom: 1px solid #cccccc;
    color: #212121;
    position: relative;
    transition: all 0.3s ease-out;
}
.dropdownlink:hover {
    color: #ffffff;
    background-color: #1e3333;
}
.submenuItems {
    padding: 0;
    display: none;
    background-color: #f0f0f0;
}
.submenuItems a {
    display: block;
    padding: 12px 12px 12px 12px;
    transition: all 0.3s ease-out;
}

/*星野のコード*/
.data_table th{
    border: solid #225ce2 2px;
    color: white;
    background-color: #009a9a;
}

.data_table tr td {
    border: solid black 1px;
}

.data_table {
    border-collapse: collapse;
    padding: 5px;
    border: solid #225ce2 2px;
}


