@(status: String)

@main {
    <div id="login_status" style="display: none;">@status</div>
    @* ログイン画面 *@
    <div id="login_screen">
        <div class="content">
            <h1>SACSへようこそ！</h1>
            <form id="login_form">
                <table id="login_table">
                    <tr>
                        <td colspan="2">ログイン</td>
                    </tr>
                    <tr>
                        <td>
                            ユーザーID
                        </td>
                        <td>
                            <label>
                                <input id="login_id" name="id" type="text" required title="">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            パスワード
                        </td>
                        <td>
                            <label>
                                <input id="login_password" name="password" type="password" required title="">
                            </label>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <div class="button">
                                <button onclick="login_form.post().then(response => {
                                    if(!response.ok) return;
                                    return response.json();
                                }, error =>{
                                    console.log(error);
                                }).then(status => {
                                    $('#login_status').text(status);
                                    login();
                                });
                                return false;">ログイン</button>
                            </div>
                        </td>
                    </tr>
                </table>
                <button type="submit" id="login_submit" style="display: none"></button>
                <div id="login_display"></div>
                @helper.CSRF.formField
            </form>
            <br>
            <a href="http://www.titech.ac.jp" onclick="alert('パスワードを忘れた生徒は、校則により退学と規定されている。明日から登校しないでよろしい。'); return true;" class="link">パスワードをお忘れの方はこちら</a>
        </div>
    </div>

    <div id="student_screen">
        <div class="content">
            @* ホーム画面 *@
            <div id="student_home_screen" style="display: none;">
                <h1>あなたの成績のまとめ</h1>
                @* 今のところは真っ白 *@
            </div>

            @* 定期試験の一覧 *@
            <div id="student_school_test_list_screen" style="display: none;">
                <h1>定期試験：一覧</h1>
                <button onclick="student_school_test_list_table.refresh(); return false;">更新</button>
                <div id="school_test_list_display"></div>

                <div id="student_school_test_detail" style="display: none;">
                    <div id="student_school_test_detail_display"></div>
                </div>
            </div>

            @* 定期試験の詳細 *@
            @*<div id="student_school_test_detail_screen" style="display: none;">*@
                @*<h1>n年m学期中間の成績</h1>*@
                @*<div id="school_test_detail_display"></div>*@
            @*</div>*@

            @* 科目ごとの成績繊維 *@
            <div id="student_subject_graph_screen" style="display: none;">
                <h1>定期試験：科目ごとの成績の移り変わり</h1>
                <form id="student_subject_history_get">
                    <table>
                        <tr>
                            <td>科目名</td>
                            <td><input type="text" title="科目名" name="name"></td>
                        </tr>
                    </table>
                    <button onclick="student_subject_history_table.custom_refresh('subject_history/'
                    + $('#student_subject_history_get').find('[name=name]').val()
                    );
                    return false;">取得</button>
                </form>
                <div id="student_subject_history_display"></div>
            </div>

            @*外部試験リスト*@
            <div id="student_external_exam_list" style="display: none">
                <h1>外部模試：一覧</h1>
                <button onclick="
                    student_external_exam_list_table.refresh();
                    return false;
                ">更新</button>
                <div id="student_external_exam_display"></div>

                <div id="student_external_exam_detail_display" style="display: none;"></div>
            </div>

            @*外部試験科目履歴*@
            <div id="student_external_subject_history" style="display: none;">
                <h1>外部模試：科目ごとの成績遷移</h1>
                <table id="student_external_subject_history_form">
                    <tr>
                        <td>外部模試名</td>
                        <td><input type="text" name="type" title="外部模試名"></td>
                    </tr>
                    <tr>
                        <td>科目名</td>
                        <td><input type="text" name="name" title="科目名"></td>
                    </tr>
                </table>
                <button onclick="
                    const sesht_form = $('#student_external_subject_history_form');
                    student_external_subject_history_table.custom_refresh(
                        'ex_subject_history/' + sesht_form.find('[name=type]').val() + '/' + sesht_form.find('[name=name]').val()
                    );
                    return false;
                ">取得</button>
                <div id="student_ex_subject_history_display"></div>
            </div>
        </div>
    </div>

    <div id="teacher_screen" style="display: none;">
        <div class="content">
            <div id="teacher_subject_class_list" style="display: none">
                <h1>担当クラスリスト</h1>
                <button onclick="teacher_subject_class_list.refresh(); return false;">更新</button>
                <div id="teacher_subject_class_list_display"></div>
            </div>
            <div id="teacher_add_test" style="display: none">
                <h1>新しい試験を作成</h1>
                <form id="teacher_add_test_form">
                    <div class="teacher_add_test_form_left">
                        <h2>科目情報</h2>
                        <table class="form_table">
                            <tr>
                                <td>学期</td>
                                <td><input type="number" name="semester" min="1" max="3" title="学年" required></td>
                            </tr>
                            <tr>
                                <td>中間・期末</td>
                                <td>
                                    <input type="radio" id="decide_midterm" name="term" value="0" title="中間" required>
                                    <label for="decide_midterm">中間</label>
                                    <input type="radio" id="decide_endterm" name="term" value="1" title="期末" required>
                                    <label for="decide_endterm">期末</label>
                                </td>
                            </tr>
                            <tr>
                                <td>学年</td>
                                <td><input type="number" name="grade" title="わ、こっちみるな！" min="1" max="3"></td>
                            </tr>
                        </table>
                    </div>
                    <div class="teacher_add_test_form_right">
                        <h2>試験日時</h2>
                        <table class="form_table">
                            <tr>
                                <td>科目名</td>
                                <td><input type="text" name="name" title="科目名" required></td>
                            </tr>
                            <tr>
                                <td>年</td>
                                <td><input type="number" name="year" min="1945" max="2077" title="西暦" required></td>
                            </tr>
                            <tr>
                                <td>月</td>
                                <td><input type="number" name="month" min="1" max="12" title="月" required></td>
                            </tr>
                            <tr>
                                <td>日</td>
                                <td><input type="number" name="day" min="1" max="31" title="日" required></td>
                            </tr>
                            <tr>
                                <td>時限</td>
                                <td><input type="number" name="division" min="0" max="7" title="時限" required></td>
                            </tr>
                        </table>
                    </div>
                    <div id="teacher_add_test_display"></div>
                    @helper.CSRF.formField
                </form>
                <button onclick="teacher_add_test_form.post(); return false;">作成</button>
                <button type="submit" id="teacher_add_test_submit" style="display: none;"></button>
            </div>
            <div id="teacher_add_result" style="display: none">
                <h1>試験の結果を追加</h1>
                <form id="teacher_add_result_form">
                    <div class="teacher_add_result_form_left">
                        <h2>科目情報</h2>
                        <table class="form_table">
                            <tr>
                                <td>年</td>
                                <td><input type="number" name="year" min="1945" max="2077" title="西暦" required></td>
                            </tr>
                            <tr>
                                <td>学期</td>
                                <td><input type="number" name="semester" min="1" max="3" title="学年" required></td>
                            </tr>
                            <tr>
                                <td>中間・期末</td>
                                <td>
                                    <input type="radio" id="result_midterm" name="term" value="0" title="中間" required>
                                    <label for="result_midterm">中間</label>
                                    <input type="radio" id="result_endterm" name="term" value="1" title="期末" required>
                                    <label for="result_endterm">期末</label>
                                </td>
                            </tr>
                            <tr>
                                <td>学年</td>
                                <td><input type="number" name="grade" min="1" max="3" title="執行猶予" required></td>
                            </tr>
                            <tr>
                                <td>科目名</td>
                                <td><input type="text" name="name" title="科目名" required></td>
                            </tr>
                        </table>
                    </div>
                    <div class="teacher_add_result_form_right">
                        <h2>試験結果</h2>
                        <table class="form_table">
                            <tr>
                                <td>生徒ID</td>
                                <td><input type="text" name="id" title="生徒ID" required></td>
                            </tr>
                            <tr>
                                <td>点数</td>
                                <td><input type="number" name="score" min="0" max="100" title="点数" required></td>
                            </tr>
                        </table>
                    </div><button onclick="teacher_add_result_form.post(); return false;">作成</button>
                    <button type="submit" id="teacher_add_result_submit" style="display: none;"></button>
                    <div id="teacher_add_result_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="teacher_student_result_list" style="display: none;">
                <h1>生徒の成績</h1>
                <form id="teacher_subject_student_result_form">
                    <table>
                        <tr>
                            <td>年</td>
                            <td><input type="number" name="year" min="1800" max="2445" title="西暦"></td>
                        </tr>
                        <tr>
                            <td>学期</td>
                            <td><input type="number" name="semester" min="1" max="3" title="学期"></td>
                        </tr>
                        <tr>
                            <td>中間・期末</td>
                            <td><input type="number" name="term" min="0" max="1" title="中間が０、期末が１"></td>
                        </tr>
                        <tr>
                            <td>科目名</td>
                            <td><input type="text" name="name" title="科目名"></td>
                        </tr>
                        <tr>
                            <td>学年</td>
                            <td><input type="number" name="grade" title="学年"></td>
                        </tr>
                    </table>
                    <button onclick="teacher_subject_student_list_refresh(); return false;">取得</button>
                    <div id="teacher_subject_student_result_display"></div>
                </form>
            </div>

            <div id="teacher_external_list" style="display: none;">
                <h1>外部試験リスト</h1>
                <button onclick="teacher_external_exam_list_table.refresh(); return false;">更新</button>
                <div id="teacher_external_list_display"></div>
            </div>

            <div id="teacher_external_result_creation" style="display: none;">
                <h1>外部試験結果入力</h1>
                <form id="external_exam_result_form">
                    <table>
                        <tr>
                            <td>年</td>
                            <td><input title="年" type="number" name="year" min="1234" max="4321" required></td>
                        </tr>
                        <tr>
                            <td>月</td>
                            <td><input title="めんどくさい" type="number" name="month" min="1" max="12" required></td>
                        </tr>
                        <tr>
                            <td>日</td>
                            <td><input title="おわんあいよ" type="number" name="day" min="1" max="31" required></td>
                        </tr>
                        <tr>
                            <td>模試の種類</td>
                            <td><input title="駿台は神" type="text" name="type" required></td>
                        </tr>
                        <tr>
                            <td>科目名</td>
                            <td><input title="科目名" type="text" name="name" required></td>
                        </tr>
                        <tr>
                            <td>生徒ID</td>
                            <td><input title="生徒" type="text" name="id" required placeholder="渡部ちゃん"></td>
                        </tr>
                        <tr>
                            <td>点数</td>
                            <td><input title="のび太君は０が好きなんですよ" type="number" min="0" max="9000" name="score" required></td>
                        </tr>
                        <tr>
                            <td>偏差値</td>
                            <td><input title="偏差値地獄" type="text" name="d_value" required></td>
                        </tr>
                        <tr>
                            <td>順位</td>
                            <td><input title="IQ" type="number" name="rank" required></td>
                        </tr>
                    </table>
                    <button onclick="teacher_external_exam_new_form.post(); return false;">作成</button>
                    <button type="submit" id="external_exam_result_submit" style="display: none;"></button>
                    <div id="external_exam_result_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>
        </div>
    </div>

    <div id="admin_screen" style="display: none;">
        <div class="content">
            <div id="admin_account_creation" style="display: none;">
                <h1>新規アカウント</h1>
                <form id="signup_form">
                    <table class="form_table">
                        <tr>
                            <td>ID</td>
                            <td>
                                <input type="text" id="signup_id" name="id" required title="ID">
                            </td>
                        </tr>
                        <tr>
                            <td>パスワード</td>
                            <td>
                                <input type="password" id="signup_password" name="password" required title="パスワード">
                            </td>
                        </tr>
                        <tr>
                            <td>名前</td>
                            <td>
                                <input type="text" required title="名前" id="signup_name" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td>性別</td>
                            <td>
                                <div style="text-align: left">
                                    <input type="radio" id="signup_man" name="sex" value="male">
                                    <label for="signup_man" class="signup_checkbox">男性</label>
                                    <input type="radio" id="signup_woman" name="sex" value="female">
                                    <label for="signup_woman" class="signup_checkbox">女性</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>住所</td>
                            <td>
                                <textarea rows="5" cols="30" id="signup_address" name="address" required title="住所"></textarea>
                            </td>
                        </tr>
                    </table>
                    <button onclick="admin_new_account_form.post(); return false;">作成</button>
                    <button type="submit" id="signup_submit" style="display: none;"></button>
                    <div id="signup_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_school_exam_creation" style="display: none;">
                <h1>新規定期テスト</h1>
                <form id="school_exam_form">
                    <table class="form_table">
                        <tr>
                            <td>年</td>
                            <td><input type="number" name="year" required title="年" min="1945" max="2069"></td>
                        </tr>
                        <tr>
                            <td>学期</td>
                            <td><input type="number" name="semester" required title="学期" min="1" max="3"></td>
                        </tr>
                        <tr>
                            <td>ターム</td>
                            <td>
                                <div style="text-align: left">
                                    <input type="radio" id="create_midterm" name="term" value="0">
                                    <label for="create_midterm" class="signup_checkbox">
                                        中間<span></span>
                                    </label>
                                    <input type="radio" id="create_endterm" name="term" value="1">
                                    <label for="create_endterm" class="signup_checkbox">
                                        期末<span></span>
                                    </label>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <button onclick="admin_new_school_exam_form.post(); return false;">作成</button>
                    <button type="submit" id="school_exam_submit" style="display: none;"></button>
                    <div id="school_exam_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_subject_creation" style="display: none;">
                <h1>新規科目</h1>
                <form id="subject_form">
                    <table class="form_table">
                        <tr>
                            <td>科目名</td>
                            <td><input type="text" name="name" required title="某工業大学生：　高校は数学だけでいい。"></td>
                        </tr>
                        <tr>
                            <td>単位数</td>
                            <td><input type="number" name="credits" required title="単位数"></td>
                        </tr>
                    </table>
                    <button onclick="admin_new_subject_form.post(); return false;">作成</button>
                    <button type="submit" id="subject_submit" style="display: none;"></button>
                    <div id="subject_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_subject_class_creation" style="display: none;">
                <h1>新規科目クラス</h1>
                <form id="subject_class_form">
                    <table class="form_table">
                        <tr>
                            <td>科目名</td>
                            <td><input type="text" name="subject_name" required title="科目名"></td>
                        </tr>
                        <tr>
                            <td>先生：ID</td>
                            <td><input type="text" name="teacher_id" required title="教科書音読機"></td>
                        </tr>
                        <tr>
                            <td>生徒: ID<br>（コンマ区切り）</td>
                            <td><textarea rows="30" cols="6" name="students_ids" required title="小僧共"></textarea></td>
                        </tr>
                        <tr>
                            <td>年</td>
                            <td><input type="number" name="year" min="69" max="6969" required title="年"></td>
                        </tr>
                        <tr>
                            <td>学期</td>
                            <td><input type="number" name="semester" min="1" max="3" required title="学期"></td>
                        </tr>
                        <tr>
                            <td>学年</td>
                            <td><input type="number" name="grade" min="1" max="3" required title="学年"></td>
                        </tr>
                    </table>
                    <button onclick="admin_new_subject_class_form.post(); return false;">作成</button>
                    <button type="submit" id="subject_class_submit" style="display: none;"></button>
                    <div id="subject_class_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_class_creation" style="display: none;">
                <h1>新規クラス</h1>
                <form id="class_form">
                    <table class="form_table">
                        <tr>
                            <td>先生ID</td>
                            <td><input type="text" name="teacher" required title="先生"></td>
                        </tr>
                        <tr>
                            <td>生徒ID<br>（コンマ区切り）</td>
                            <td><textarea name="students_ids" required title="生徒"></textarea></td>
                        </tr>
                        <tr>
                            <td>学年</td>
                            <td><input type="number" name="grade" min="1" max="2" required title="学年"></td>
                        </tr>
                        <tr>
                            <td>組</td>
                            <td><input type="text" name="class" required title="チーム名"></td>
                        </tr>
                        <tr>
                            <td>年</td>
                            <td><input type="number" min="1945" name="year" max="2077" required title="年"></td>
                        </tr>
                    </table>
                    <button onclick="admin_new_class_form.post(); return false;">作成</button>
                    <button type="submit" id="class_submit" style="display: none;"></button>
                    <div id="class_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_account_list" style="display: none;">
                <h1>アカウントリスト</h1>
                <button onclick="admin_account_list_table.refresh(); return false;">更新</button>
                <div id="admin_account_list_display"></div>
            </div>

            <div id="admin_edit_account" style="display: none;">
                <h1>アカウント編集</h1>
                <form id="account_edit_form">
                    <table class="form_table">
                        <tr>
                            <td>ID</td>
                            <td>
                                <input type="text" name="id" required title="ID" readonly id="admin_account_edit_id">

                            </td>
                        </tr>
                        <tr>
                            <td>パスワード</td>
                            <td>
                                <input type="password" name="password" required title="パスワード">
                            </td>
                        </tr>
                        <tr>
                            <td>名前</td>
                            <td>
                                <input type="text" required title="名前" name="name">
                            </td>
                        </tr>
                        <tr>
                            <td>性別</td>
                            <td>
                                <div>
                                    <input type="radio" name="sex" value="male" id="signup_man2">
                                    <label for="signup_man2" class="signup_checkbox">男性</label>
                                    <input type="radio" name="sex" value="female" id="signup_woman2">
                                    <label for="signup_woman2" class="signup_checkbox">女性</label>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>住所</td>
                            <td>
                                <textarea rows="5" cols="30" name="address" required title="住所"></textarea>
                            </td>
                        </tr>
                    </table>
                    <button onclick="admin_edit_account_form.custom_post('edit/' + $('#admin_account_edit_id').val());return false;">作成</button>
                    <button type="submit" id="account_edit_submit" style="display: none;"></button>
                    <div id="account_edit_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_subject_list" style="display: none;">
                <h1>科目リスト</h1>
                <button onclick="admin_subject_list_table.refresh(); return false;">更新</button>
                <div id="admin_subject_list_display"></div>

                <div id="admin_subject_detail" style="display: none;">
                    <h1>科目クラスリスト</h1>
                    <div id="admin_subject_detail_display"></div>
                </div>
            </div>

            <div id="admin_external_exam_creation" style="display: none;">
                <h1>新規外部模試</h1>
                <form id="external_exam_form">
                    <table class="form_table">
                        <tr>
                            <td>年</td>
                            <td><input type="number" name="year" min="1192" max="2100" required title="試験実施日"></td>
                        </tr>
                        <tr>
                            <td>月</td>
                            <td><input type="number" name="month" min="1" max="12" required title="試験実施日"></td>
                        </tr>
                        <tr>
                            <td>日</td>
                            <td><input type="number" name="day" min="0" max="31" required title="ここだけゼロオリジン"></td>
                        </tr>
                        <tr>
                            <td>外部試験の種類</td>
                            <td><input type="text" name="type" required title="進研ゼミは💩"></td>
                        </tr>
                    </table>
                    <button onclick="admin_new_external_exam_form.post(); return false;">作成</button>
                    <button type="submit" id="external_exam_submit" style="display: none;"></button>
                    <div id="external_exam_display"></div>
                    @helper.CSRF.formField
                </form>
            </div>

            <div id="admin_class_list" style="display: none;">
                <h1>クラスリスト</h1>
                <form id="class_list_form">
                    <table>
                        <tr>
                            <td>学年</td>
                            <td>
                                <input type="number" name="grade" min="1" max="3" title="学年">
                            </td>
                        </tr>
                    </table>
                    <button onclick="admin_class_list.custom_refresh('classroom_list/' + $('#class_list_form').find('[name=grade]').eq(0).val()); return false;">取得</button>

                    <div id="class_list_display"></div>
                </form>
            </div>
        </div>
    </div>
}