@(status: String)

@main {
    <div id="login_status" style="display: none;">@status</div>
    @* ログイン画面 *@
    <div align="center" id="login_screen">
        <h1>SACSへようこそ！</h1>
        <form id="login_form">
            <table id="login_table">
                <tr>
                    <td colspan="2" align="center">ログイン</td>
                </tr>
                <tr>
                    <td>
                        ユーザーID
                    </td>
                    <td>
                        <label>
                            <input id="login_id" name="id" type="text" required title="">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        パスワード
                    </td>
                    <td>
                        <label>
                            <input id="login_password" name="password" type="password" required title="">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button onclick="login_form.post().then(response => {
                            return response.json();
                        }, error =>{
                            console.log(error);
                        }).then(status => {
                            $('#login_status').text(status);
                            login();
                        }); return false;">ログイン</button>
                    </td>
                </tr>
            </table>
            <button type="submit" id="login_submit" style="display: none"></button>
            <div id="login_display"></div>
            @helper.CSRF.formField
        </form>
    </div>

    <div id="student_screen">
        @* ホーム画面 *@
        <div id="student_home_screen" style="display: none;">
            <h1>あなたの成績のまとめ</h1>
            @* 今のところは真っ白 *@
        </div>

        @* 定期試験の一覧 *@
        <div id="student_school_test_list_screen" style="display: none;">
            <h1>定期試験の一覧</h1>
            <div id="school_test_list_display"></div>
        </div>

        @* 定期試験の詳細 *@
        <div id="student_school_test_detail_screen" style="display: none;">
            <h1>n年m学期中間の成績</h1>
            <div id="school_test_detail_display"></div>
        </div>

        @* 科目ごとの成績繊維 *@
        <div id="student_subject_graph_screen" style="display: none;">
            <h1>科目ごとの成績の移り変わり</h1>
        </div>
    </div>

    <div id="teacher_screen" style="display: none;"></div>

    <div id="admin_screen" style="display: none;">
        <h1>SACS管理画面</h1>
        <div id="admin_account_creation">
            <h2>アカウント生成</h2>
            <form id="signup_form">
                <table>
                    <tr>
                        <th colspan="2">
                            新規アカウント
                        </th>
                    </tr>
                    <tr>
                        <td>
                            <b>ID</b>
                        </td>
                        <td>
                            <input type="text" id="signup_id" name="id" required title="お前のお母さんでーべそ">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>パスワード</b>
                        </td>
                        <td>
                            <input type="password" id="signup_password" name="password" required title="パスワード">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>名前</b>
                        </td>
                        <td>
                            <input type="text" required title="名前" id="signup_name" name="name">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>性別</b>
                        </td>
                        <td>
                            <label>男性</label>
                            <input type="radio" required title="男性" id="signup_sex" name="sex" value="male">
                            <label>女性</label>
                            <input type="radio" required title="女性" id="signup_sex" name="sex" value="female">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>住所</b>
                        </td>
                        <td>
                            <textarea rows="5" cols="30" id="signup_address" name="address" required title="住所"></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <button onclick="admin_new_account_form.post(); return false;">作成</button>
                            <button type="submit" id="signup_submit" style="display: none;"></button>
                        </td>
                    </tr>
                </table>
                @helper.CSRF.formField
            </form>
        </div>
    </div>
}