@main {
    <div align="center">
        <form>
            <table id="login_table">
                <tr>
                    <td colspan="2" align="center">ログイン</td>
                </tr>
                <tr>
                    <td>
                        ユーザーID
                    </td>
                    <td>
                        <label>
                            <input type="text">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td>
                        パスワード
                    </td>
                    <td>
                        <label>
                            <input type="password">
                        </label>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">

                    </td>
                </tr>
                <tr>
                    <td colspan="2" align="center">
                        <button>ログイン</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
}